<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.firefox-assistant</string>
	<key>connections</key>
	<dict>
		<key>01563DAF-B949-4BE5-A856-1C32ABFA03E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>1EC09EB7-CFB9-47D8-84DE-37BF4875F906</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE956921-0416-405F-B748-94C23CDB2774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26D5BE1B-9DAB-4039-9C7E-D639974A2614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EC09EB7-CFB9-47D8-84DE-37BF4875F906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C1CC9A6-A0BD-47C3-8B39-372093A348B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38D3C7F8-AD9B-4880-8502-5DE4D69EA265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D5BE1B-9DAB-4039-9C7E-D639974A2614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56FBB613-EE25-4DE4-930D-C1F51B9235D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2BDC50E-36DB-45DE-B40E-24BA116ADFE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58CBD6D3-C6D1-48CF-9A34-7EE5EBA5886B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B353C303-DA6D-4AFC-8F19-04BA6ABB1E27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A0372A7-7488-4146-B8CD-17B1834B2EF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01563DAF-B949-4BE5-A856-1C32ABFA03E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D1126FC-FAE3-40C1-A536-43C272DF9E69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38D3C7F8-AD9B-4880-8502-5DE4D69EA265</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83477ED1-950C-4E4D-9D22-CDEC701CA68D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93E61791-1520-4B4F-9257-C5B28A505058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A52B48B5-24BA-4D67-A6DD-C2F404F964CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96C33C0A-5D89-4903-97AC-E430858902FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E51D9E39-F895-4FD6-B159-0CB29463CA21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AF41D0B-F6CB-4063-BF22-96F22182CFE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D5BE1B-9DAB-4039-9C7E-D639974A2614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A52B48B5-24BA-4D67-A6DD-C2F404F964CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B353C303-DA6D-4AFC-8F19-04BA6ABB1E27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E2BDC50E-36DB-45DE-B40E-24BA116ADFE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D5BE1B-9DAB-4039-9C7E-D639974A2614</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AF41D0B-F6CB-4063-BF22-96F22182CFE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65CCCA7A-4865-4AA0-ABB3-19B13996FC3E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3C926B1-9A80-48ED-9705-8C835D7FB18F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C1CC9A6-A0BD-47C3-8B39-372093A348B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51D9E39-F895-4FD6-B159-0CB29463CA21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Control Firefox from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Firefox Assistant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96C33C0A-5D89-4903-97AC-E430858902FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading actions…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" current-tab</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filter/Run Actions on Current Firefox Tab</string>
				<key>title</key>
				<string>Current Tab Actions</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38D3C7F8-AD9B-4880-8502-5DE4D69EA265</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.mozilla.firefox</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7D1126FC-FAE3-40C1-A536-43C272DF9E69</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" bookmarks</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fsearch</string>
				<key>subtext</key>
				<string>Search Firefox Bookmarks</string>
				<key>title</key>
				<string>Firefox Bookmarks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E51D9E39-F895-4FD6-B159-0CB29463CA21</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bml</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" bookmarklets</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fsearch</string>
				<key>subtext</key>
				<string>Search Firefox Bookmarklets</string>
				<key>title</key>
				<string>Firefox Bookmarklets</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01563DAF-B949-4BE5-A856-1C32ABFA03E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5A0372A7-7488-4146-B8CD-17B1834B2EF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>58CBD6D3-C6D1-48CF-9A34-7EE5EBA5886B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tab</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" tabs</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filter Firefox Tabs</string>
				<key>title</key>
				<string>Firefox Tabs</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B353C303-DA6D-4AFC-8F19-04BA6ABB1E27</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-firefox $CMD "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE956921-0416-405F-B748-94C23CDB2774</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:CMD}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>actions</string>
						<key>outputlabel</key>
						<string>All Actions</string>
						<key>uid</key>
						<string>65CCCA7A-4865-4AA0-ABB3-19B13996FC3E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E2BDC50E-36DB-45DE-B40E-24BA116ADFE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------------------\
query={query}
variables={allvars}
\------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>56FBB613-EE25-4DE4-930D-C1F51B9235D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------------------\
query={query}
variables={allvars}
\------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1EC09EB7-CFB9-47D8-84DE-37BF4875F906</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>26D5BE1B-9DAB-4039-9C7E-D639974A2614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading actions…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" actions</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filter/Run Actions</string>
				<key>title</key>
				<string>Actions</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9AF41D0B-F6CB-4063-BF22-96F22182CFE3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading history…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" history</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Firefox History</string>
				<key>title</key>
				<string>Firefox History</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A52B48B5-24BA-4D67-A6DD-C2F404F964CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>93E61791-1520-4B4F-9257-C5B28A505058</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E3C926B1-9A80-48ED-9705-8C835D7FB18F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading downloads…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" downloads</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Firefox Downloads</string>
				<key>title</key>
				<string>Firefox Downloads</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C1CC9A6-A0BD-47C3-8B39-372093A348B1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ffass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./alfred-firefox -query "$1" options</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Workflow Status &amp; Option</string>
				<key>title</key>
				<string>Firefox Assistant</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83477ED1-950C-4E4D-9D22-CDEC701CA68D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Firefox Assistant
=================

Search your Firefox bookmarks, history and tabs.

This workflow requires the corresponding Firefox extension to be installed:

https://addons.mozilla.org/en-US/firefox/addon/alfred-launcher-integration/


Please see the online docs for more information:

https://github.com/deanishe/alfred-firefox/blob/master/doc/index.md</string>
	<key>uidata</key>
	<dict>
		<key>01563DAF-B949-4BE5-A856-1C32ABFA03E9</key>
		<dict>
			<key>note</key>
			<string>Search bookmarklets</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>1EC09EB7-CFB9-47D8-84DE-37BF4875F906</key>
		<dict>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>26D5BE1B-9DAB-4039-9C7E-D639974A2614</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>2C1CC9A6-A0BD-47C3-8B39-372093A348B1</key>
		<dict>
			<key>note</key>
			<string>Search downloads</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>38D3C7F8-AD9B-4880-8502-5DE4D69EA265</key>
		<dict>
			<key>note</key>
			<string>Actions for current tab</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>56FBB613-EE25-4DE4-930D-C1F51B9235D8</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>58CBD6D3-C6D1-48CF-9A34-7EE5EBA5886B</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>5A0372A7-7488-4146-B8CD-17B1834B2EF6</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>7D1126FC-FAE3-40C1-A536-43C272DF9E69</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Don't forget to set this Hotkey!</string>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>83477ED1-950C-4E4D-9D22-CDEC701CA68D</key>
		<dict>
			<key>note</key>
			<string>Workflow status &amp; options</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>93E61791-1520-4B4F-9257-C5B28A505058</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>96C33C0A-5D89-4903-97AC-E430858902FA</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9AF41D0B-F6CB-4063-BF22-96F22182CFE3</key>
		<dict>
			<key>note</key>
			<string>Filter Tab/URL Actions</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>A52B48B5-24BA-4D67-A6DD-C2F404F964CC</key>
		<dict>
			<key>note</key>
			<string>Search history</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>AE956921-0416-405F-B748-94C23CDB2774</key>
		<dict>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>B353C303-DA6D-4AFC-8F19-04BA6ABB1E27</key>
		<dict>
			<key>note</key>
			<string>Filter tabs</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>E2BDC50E-36DB-45DE-B40E-24BA116ADFE6</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>E3C926B1-9A80-48ED-9705-8C835D7FB18F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>E51D9E39-F895-4FD6-B159-0CB29463CA21</key>
		<dict>
			<key>note</key>
			<string>Search bookmarks</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TAB_CTRL</key>
		<string>bml:seoxED9MBuqi,Add to Pinboard</string>
		<key>TAB_GODOC</key>
		<string>bml:uFJCA875bTEt,Open in GoDoc</string>
		<key>URL_DEFAULT</key>
		<string>Open in Default Application</string>
		<key>URL_OPT</key>
		<string>Open in Safari</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TAB_CTRL</string>
		<string>TAB_GODOC</string>
	</array>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-firefox</string>
</dict>
</plist>
